<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnu.ai.mapper.ChatListMapper">

    <resultMap id="BaseResultMap" type="com.gpnu.ai.model.entity.ChatList">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="conversationId" column="conversation_id" jdbcType="VARCHAR"/>
            <result property="conversationTitle" column="conversation_title" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,conversation_id,
        conversation_title,create_time,update_time,is_delete
    </sql>
</mapper>
