<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnu.course.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.gpnu.course.model.entity.Category">
            <id property="categoryId" column="category_id" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="orderIndex" column="order_index" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        category_id,name,parent_id,order_index,is_deleted,created_at,
        updated_at
    </sql>
</mapper>
